<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :metric %>
    <%= f.text_field :metric %>
  </div>

  <div class="field">
    <%= f.label :shopping_list_id %>
    <%= f.number_field :shopping_list_id %>
  </div>

  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    <%= f.submit 'Save', :class => 'modal-action modal-close waves-effect waves-green btn-flat' %>
  </div>
<% end %>
