<div class="row">
  <div class="col s12">
    <%= form_for(@ingredient, html: { id: "ingredient-form" }) do |f| %>
      <% if @ingredient.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @ingredient.errors.full_messages.each do |message| %>
            <li class="validation-error"><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>

      <div class="field">
        <%= f.label :metric %>
        <%= f.text_field :metric %>
      </div>
    <% end %>
  </div>
</div>
