<div class="collection">
  <% @ingredients.each do |ingredient| %>
    <div class="collection-item row ingredient-row" id="ingredient-<%= ingredient.id %>">
      <div class="col s1">
        <input type="checkbox" class="delete-ingredient" id="checkbox_<%= ingredient.id %>" data-edit-url="<%= ingredient_path(ingredient) %>"/>
        <label for="checkbox_<%= ingredient.id %>">&nbsp;</label>
      </div>
      <div class="col s10">
        <% unless ingredient.quantity.blank? %>
          <span class="new badge quantity" data-badge-caption="">
            <%= ingredient.quantity %> <%= ingredient.metric %>
          </span>
        <% end %>
        <%= ingredient.name %></a>
      </div>
      <div class="col s1 ingredient-btns">
        <!-- Ingredient Modal Trigger -->
        <a class="modal-trigger edit-ingredient-btn" data-edit-url="<%= edit_ingredient_path(ingredient) %>" id="edit-ingredient-btn_<%= ingredient.id %>" href="#ingredientModal">
          <span><i class="material-icons">mode_edit</i></span>
        </a>
      </div>
    </div>
  <% end %>
</div>
